<style>
                    @media screen and (min-width: 767px) {
                        .main-nav [role=menubar] {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                        }
                        .main-nav [role=menubar]:before {
                            display: none;
                        }
                        .simple-nav-item.last-nav-item {
                            position: static !important;
                        }
                        #fly666 .flyout-container {
                            display: none;
                            padding: 24px;
                        }
                        #fly666 .flyout-container .f-row .flyout-nav-column h3,
                        #fly666 .flyout-container .f-row .flyout-nav-column p {
                            text-align: center;
                        }
                        #fly666 .flyout-container .f-row .flyout-nav-column p {
                            font-weight: normal;
                            font-size: 16px;
                        }
                        #fly666 .flyout-container .f-row .flyout-nav-column img {
                            margin: 0 auto;
                        }
                        .last-nav-item:hover > #fly666 .flyout-container {
                            display: block;
                        }
                        .last-nav-item:hover > a,
                        .ss-new-badge:hover ~ a,
                        #fly666:hover + .ss-flyout-bg + a {
                            background: #fff;
                            color: #006341;
                        }
                        .last-nav-item:hover .ss-flyout-bg,
                        .ss-new-badge:hover + #fly666 + .ss-flyout-bg,
                        #fly666:hover + .ss-flyout-bg {
                            opacity: 0.6;
                            height: 3000px;
                        }
                        .last-nav-item .ss-flyout-bg:hover {
                            display: none;
                        }
                        .ss-flyout-bg {
                            opacity: 0;
                            position: fixed;
                            width: 100%;
                            height: 0px;
                            background-color: #333;
                            z-index: -1;
                            left: 0;
                            transition: opacity 0.5s;
                            -webkit-transition: opacity 0.5s;
                            -moz-transition: opacity 0.5s;
                            -o-transition: opacity 0.5s;
                        }
                        .ss-buttons {
                            justify-content: center;
                        }
                        .ss-buttons .healthbox-intro-buttons-container a:last-child {
                            background-color: #006341;
                            background: #006341;
                            border: 1px solid #006341;
                        }
                        .ss-buttons .healthbox-intro-buttons-container a:last-child:hover {
                            background-color: #004a30;
                            background: #004a30;
                            border: 1px solid #004a30;
                        }
                        .ss-buttons .healthbox-intro-buttons-container {
                            width: auto;
                        }
                    }
                    
                    @media screen and (max-width: 1075px) and (min-width: 768px) {
                        .main-nav.replete-nav .main-nav-item>a {
                            font-size: 1.2rem;
                        }
                    }
                </style>
<div ng-controller="homeController">
    <div class="home-page">
        <!-- start catalog/home/home-banners.hbs -->

        <body class="t-home product-details-with-arrow">
            <div class="ajax-loader-bg" style="display:none"></div>
            <div class="ajax-loader" style="display:none;"></div>
            <div id="popup-container" style="display:none">
                <div class="modal-container">
                    <div id="popup-bg" class="modal-bg"></div>
                    <div class="modal-content-wrapper">
                        <div class="modal-content-cell">
                            <div id="popup-content" class="modal-content"></div>
                        </div>
                    </div>
                </div>
            </div>

<div class="f-row usp-block mobile-hidden">
     <div class="f-col usp-item"><img src="https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/icons/delivery/mp_standard.png" class="ico-35">
            <div><strong>FREE STANDARD DELIVERY</strong><br>on all orders </div>
        </div>
      
        <div class="f-col usp-item"><img src="https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/icons/delivery/mp_express.png" class="ico-35">
            <div><strong>20% OFF</strong><br>on all orders over £ 30.00 or 30.00 kr</div>
        </div>
</div>
<noscript>
    <div class="page">
        <div class="notice nojs-notice">
            <p>To get the most from our website you'll need a browser feature called <strong>JavaScript</strong> . All modern browsers support JavaScript. You probably just need to change a setting in order to turn it on.</p>
            <p>Please see: <a href="//www.google.com/support/bin/answer.py?answer=23852" title="noticeE"> How to enable JavaScript in your browser</a></p>
            <p>If you use ad-blocking software, it may require you to allow JavaScript from hollandandbarrett.com.</p>
            <p>Once you've enabled JavaScript you can <a href="/" title="noticeH">try loading this page again</a></p>
            <p>Thank you.</p>
        </div>
    </div>
</noscript>

<div role="main" id="content" class="clearfix">
    <div>
        <div class="homepage-single-slot-holder">
            <ul class="homepage-single-slot-content-ul">
                <li data-title="" class="">
                    <a ui-sref="productlist({categoryId:'d2f9a7e8-daca-48d2-b52f-918edd28928b'})" class="responsive-link" style="--cursor-mobile: pointer; --cursor-desktop: pointer;" data-responsive-href='{"desktop":"/shop/offers/big-deals-better-than-half-price/?icmp=HOMEPAGE_MAIN_1_P13_1_big_deals","mobile":"/shop/offers/big-deals-better-than-half-price/?icmp=HOMEPAGE_MAIN_1_P13_1_big_deals_mob"}' data-cursor-fallback='{"desktop":"pointer","mobile":"pointer"}'>

                        <div class="image-slot" style="" data-background-fallback='{"desktop":"","mobile":""}'>

                            <picture>

                                <source srcset="app/assets/img/big_deals.png" media="(min-width: 1200px)">
                                <source srcset="app/assets/img/big_deals.png" media="(min-width: 768px)">
                                <img src="app/assets/img/big_deals.png" class="img-responsive" alt="" data-height-fallback='{"desktop":"","mobile":""}' data-width-fallback='{"desktop":"100%","mobile":"100%"}'>
                            </picture>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page redesigned-page">
        <div>
           <div class="l-wrap clearfix image-cartridge">
                <div class="l-col ">
                    <a href="#">

                        <picture>

                            <source srcset="app/assets/img/bogohp.png" media="(min-width: 1200px)">
                            <source srcset="app/assets/img/bogohp.png" media="(min-width: 768px)">
                            <img src="app/assets/img/bogohp.png" class="img-responsive">
                        </picture>

                    </a>
                </div>
            </div>
           
            <div class="l-wrap clearfix image-cartridge">
                <div class="l-col l-one-half">
                    <div class="l-wrap clearfix image-cartridge desktop-hidden">
                        <a ui-sref="productlist({categoryId:'d2f9a7e8-daca-48d2-b52f-918edd28928b'})"><img src="
https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/p_1718/p13/homepage/boombod_mob.png
 " /> </a>
                    </div>
                </div>
                <div class="l-col l-one-half">
                    <div class="l-wrap clearfix image-cartridge desktop-hidden">
                        <a ui-sref="productlist({categoryId:'c33d8684-7504-4635-bd1d-2758a775000a'})"><img src="
https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/p_1718/p13/homepage/p13_cbd_mob.png
 " /> </a>
                    </div>
                </div>
            </div>
            <div class="l-wrap clearfix image-cartridge">
                <div class="l-col l-one-half">
                    <a ui-sref="productlist({categoryId:'c33d8684-7504-4635-bd1d-2758a775000a'})">

                        <picture>
                            <source srcset="app/assets/img/healthbox_slot1.png" media="(min-width: 1200px)">
                            <source srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" " media="(min-width: 768px) ">
    <img src="app/assets/img/healthbox_slot1.png" class="img-responsive ">
  </picture>

 </a>  </div> 
 <div class="l-col l-one-half ">  
 <a ui-sref="productlist({categoryId:'635c71bf-cda0-438d-9d7c-18c17e6e05c3'})"> 

 <picture>
 <source srcset="app/assets/img/p13_manuka2.png " media="(min-width: 1200px) ">
    <source srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" media=" (min-width: 768px) ">
    <img src="app/assets/img/p13_manuka2.png " class="img-responsive ">
  </picture>
 </a>  </div>  </div>  <div class="l-wrap clearfix image-cartridge ">
 <div class="l-col l-one-half "> 
 <a ui-sref="productlist({categoryId:'c33d8684-7504-4635-bd1d-2758a775000a'})">

 <picture>
 <source srcset="app/assets/img/p13_vhms3.png " media="(min-width: 1200px) ">
    <source srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" media=" (min-width: 768px) ">
    <img src="app/assets/img/p13_vhms3.png " class="img-responsive ">
  </picture>
 </a>  </div> 
 <div class="l-col l-one-half ">
 <a ui-sref="productlist({categoryId:'c33d8684-7504-4635-bd1d-2758a775000a'})" >

  <picture>
 <source srcset="app/assets/img/p13_snail4.png " media="(min-width: 1200px) ">
    <source srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" media=" (min-width: 768px) ">
    <img src="app/assets/img/p13_snail4.png " class="img-responsive ">
  </picture>

 </a>  </div>  </div> 
 <div class="l-wrap clearfix image-cartridge ">  <div class="l-col ">  
 <a href="#">
 <picture> 
 <source media="(min-width: 768px) " data-srcset="app/assets/img/puregym.png "/>
 <source media="(max-width: 767px) " data-srcset="app/assets/img/puregym_mob.png "/> 
 <img data-src="app/assets/img/puregym.png " class="lazyload " alt=" "/> 
 </picture> </a>  </div>  </div> 
 <div class="checkout-order-confirmation-recently-vieved print-hidden " data-rr-placement="home_page.recs_1 " data-mobile-app-hidden></div> 
 <script data-rr-template="home_page.recs_1 " type="text/x-jsrender ">{{include tmpl="#rrHomePlacement " /}}</script> 
 
 <div class="page-title-block "> <span class="page-title-line "> <h1 class="page-title "> 
 <span>Featured Brands</span> </h1> </span> </div>  <div class="l-wrap clearfix image-cartridge "> 
 <div class="l-col l-one-half ">
 <a href="#">

  <picture>
   <source srcset="app/assets/img/p13_beauty_kitchen1.png " media="(min-width: 1200px) ">
    <source srcset="app/assets/img/p13_beauty_kitchen1.png " ">
    <img src="app/assets/img/p13_beauty_kitchen1.png" class="img-responsive ">
  </picture>

 </a>  </div> 
 <div class="l-col l-one-half ">  
 <a href="#">
 <picture>
    <!-- <source srcset="app/assets/img/p13_grenade.png " media="(min-width: 1200px) "> -->
    <source srcset="https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/p_1718/p13/homepage/p13_grenade.png">
    <img src="https://images.hollandandbarrettimages.co.uk/promotionuploads_new/hb/atg/p_1718/p13/homepage/p13_grenade.png" class="img-responsive">
  </picture>

 </a>  
 </div> 
 </div>  
 <div class="page-title-block "> <span class="page-title-line "> <h1 class="page-title "> 
 <span>Health & Lifestyle</span> </h1> </span> </div>  
 <div class="advice-and-articles ">
 <div data-init-module='mainCarouselModule' data-init-main-carousel-params='{"breakpoint220 ":{"initCarousel ":true},"breakpoint768 ":{"initCarousel ":true,"quantity ":"6 "}}'> <ul class="l-wrap clearfix" id="product_courosel"> 
 <li class="l-col l-one-fourth advice-and-articles-item "> 
 <a href="#"> 
 <div class="advice-item-image-container ">
 <picture>
    <!-- <source srcset="app/assets/img/cleaner_beauty_cleansing.png " media="(min-width: 1200px) "> -->
    <source srcset="app/assets/img/cleaner_beauty_cleansing.png" >
    <img src="app/assets/img/cleaner_beauty_cleansing.png " class="img-responsive ">
  </picture>
 <!--<img srcset="app/assets/img/cleaner_beauty_cleansing.png " class="lazyload "/>-->
 </div>
 <div class="advice-item-text-container "> <h2>Cleaner Beauty</h2> 
 <span>Say yes to cleaner beauty and banish SLS, parabens and micro beads from your beauty regime</span> </div>
 </a>  </li>  <li class="l-col l-one-fourth advice-and-articles-item "> 
 <a href="#">  
 <div class="advice-item-image-container">
<picture>
    <!-- <source srcset="app/assets/img/2_vegan_burger.png " media="(min-width: 1200px) "> -->
    <source srcset="app/assets/img/2_vegan_burger.png">
    <img src="app/assets/img/2_vegan_burger.png" class="img-responsive ">
</picture>

 <!-- <img data-src="app/assets/img/2_vegan_burger.png " class="lazyload "/>-->
 </div> <div class="advice-item-text-container "> 
 <h2>Recipes</h2> 
 <span>Keep your meals healthy but delicious with our selection of nutritious recipes</span> </div>  </a> 
 </li>  <li class="l-col l-one-fourth advice-and-articles-item ">  
 <a href="#"> 
 <div class="advice-item-image-container ">
 <picture>
    <!-- <source srcset="app/assets/img/3_vits.png " media="(min-width: 1200px) "> -->
    <source srcset="app/assets/img/3_vits.png" media="(min-width: 768px) ">
    <img src="app/assets/img/3_vits.png" class="img-responsive ">
</picture>
  </div> <div class="advice-item-text-container "> <h2>Vitamins & Supplements</h2>
 <span>From vitamin A to Zinc, there's a supplement out there to support every part of the body.</span> </div> 
 </a>  </li>  <li class="l-col l-one-fourth advice-and-articles-item "> 

 <a href="#"> 
 <div class="advice-item-image-container "> 
  <picture>
    <!-- <source srcset="app/assets/img/4_menopause.png " media="(min-width: 1200px) "> -->
    <source srcset="app/assets/img/4_menopause.png" >
    <img src="app/assets/img/4_menopause.png" class="img-responsive ">
</picture>

 </div> <div class="advice-item-text-container "> <h2>Menopause Relief</h2> 
 <span>Relieve mood swings, hot flushes and night sweats with natural remedies.</span> 
 </div>  </a>  </li>  </ul> </div> </div>  
 <div class="checkout-order-confirmation-recently-vieved print-hidden " data-rr-placement="home_page.recs_2 " data-mobile-app-hidden></div>  
 <script data-rr-template="home_page.recs_2 " type="text/x-jsrender ">{{include tmpl="#rrHomePlacement " /}}</script>  <div class="l-wrap clearfix image-cartridge ">  <div class="l-col "> <div id="olapic_specific_widget ">
	&nbsp;</div>

<script type="text/javascript " src="https://photorankstatics-a.akamaihd.net/81b03e40475846d5883661ff57b34ece/static/frontend/latest/build.min.js "  data-olapic="olapic_specific_widget " data-instance="63b2b9dd199695e0c5d7a1a124df9db1 " data-apikey="e9122cca4d97e139ce05508fd2bcf1e76826661c3711cf2597ba74bbbc87a6a9 " async="async "></script> </div> 
 </div>  </div> 
 </div> 
 </div>  

 

  </div>

</div>

  <!-- start common/wishlist.hbs -->

<!-- end common/wishlist.hbs -->
 <script>
 $(document).ready(function() {
 if ($(window).width() < 768) {
    $("#product_courosel").slick({
        arrows:false,
        autoplay:true
      });
}
});
 </script> 