<div class="aspect-ratio aspect-ratio--4to3 ppppp">
  <picture>
    <source srcset="{{@root.meta.assetsPath}}images/leftone.jpg" media="(min-width: 1200px)">
    <source srcset="{{@root.meta.assetsPath}}images/leftone.jpg"(min-width: 768px)">
    <img src="{{@root.meta.assetsPath}}images/leftone.jpg" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">Vitamins & Supplements</h4>
  <a href="/en/men" class="btn banner-btn">
    Shop All
  </a>
</div>