<div class="aspect-ratio aspect-ratio--8to3">
  <picture>
    <source srcset="{{@root.meta.assetsPath}}images/mainasset.png" media="(min-width: 1200px)">
    <source srcset="{{@root.meta.assetsPath}}images/mainasset.png" media="(min-width: 768px)">
    <img src="{{@root.meta.assetsPath}}images/mainasset.png" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  
</div>