<h4 class="home-suggestions-title">New Arrivals</h4>
<hr class="home-suggestions-hr"/>
<p class="home-suggestions-description">Shop all</p>
<div class="row">
  <!-- start catalog/suggestions.hbs -->

<!-- end catalog/suggestions.hbs -->

</div>