<div class="aspect-ratio aspect-ratio--4to3 two">
  <picture>
    <source srcset="{{@root.meta.assetsPath}}images/rightone.jpg" media="(min-width: 1200px)">
     <source srcset="{{@root.meta.assetsPath}}images/rightone.jpg"(min-width: 768px)">
    <img src="{{@root.meta.assetsPath}}images/rightone.jpg" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">Weight Management</h4>  
  <a href="/en/women" class="btn banner-btn">
    Shop All
  </a>
</div>