<a href="/en/home" class="brand-logo">
  <img class="img-responsive" src="{{@root.meta.assetsPath}}images/Main.png" title="Holland &amp; Barrett :: the good life" alt="Holland & Barrett :: the good life">
</a>